$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */


$primary:#222c4a; //#171d27
$secondary:#888;

$red:#cf3d3d; //#cf3d3d
$blue:#263056;
$yellow:#fffb94;
